<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body class="bg-gray-100 min-h-full">
    <div id="redwood-app" class="bg-gray-100 text-gray-800"></div>
  </body>
</html>
